body{
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
.image-responsive{
    width: 100%;
 
}
.row img{
    margin-bottom: 1rem;
}
.symbol{
  padding: 2rem;
  margin-left: 1rem;
}
.testimonials{
    margin-top: 100px
}
.testimonial{
    width:  120px;
    height: 120px;
    border-radius: 70px;
    align-self: center;
    margin-top: -100px
}
.card{
    padding-top: 3rem;
    margin-top: 100px
}
.page-footer{
    background-color: #232323;
    width: 100%;
    color: #ffffff;
    margin-top: 20px;;
}
.btn-outline-white{
    background-color:#085AF9;
    color:#ffffff
}
.footer-copyright{
font-style: normal;
font-weight: 800;
font-size: 36px;
line-height: 42px;
text-align: center;
letter-spacing: 1px;
border-top: 1px solid #ffffff;
border-top: 75%;
}